.inputContainer {
    display: flex;
    flex-flow: row;
    align-items: center;
    border-top: thin #eeeeee solid;
    padding: 5px;
}

.input {
    flex: 1 1 auto;
    height: 2.5rem;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 0;
}

.input:focus {
    outline: 0;
}

.send {
    width: 10%;
    border-radius: 25px;
    border: 0.5px #0096d1 solid;
    background-color: #00ACD1;
    color: white;
    padding: 2.5px 4px 2.5px 4px;
    box-shadow: 0 5px 6px -6px black;
}

.send:focus {
    outline: 0;
    box-shadow: 0 2px 6px -6px black;

}