.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #000d1a;
    height: 100vh;
}

.joinContainer {
    width: 350px;
    height: 450px;
    padding: 15px;
    background-color: #000d1a;
}

.titleContainer {
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 15px;
    border-bottom: #ffffff 1px solid;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.body {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.formBody {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input {
    width: 100%;
    margin-bottom: 1.5rem;
    line-height: 2;
    color: #A6A6A6;
    border-radius: 50px;
    border: 0.5px #eee solid;
    padding: .25em .25em .25em .75em;
}

.input:focus {
    outline: none;
    border: 0.5px #5e5e5e solid;
    box-shadow:  0px 0px 2px 2.5px rgb(16, 187, 255), 0px 0px 0.5px 0px #000;
}

.buttonContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 80px;
    margin: 15px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color: #00ACD1;
    color: #ffffff;
    font-weight: 500;
}

.button:focus {
    outline: none;
    border: 0.5px rgb(20, 106, 204) solid;
    box-shadow:  0px 0px 1px 2px #aaefff, 0px 0px 0.5px 0px rgb(20, 106, 204);
}