.navbar {
    width: 100%;
    height: 3rem;
    padding: 8px;
    background-color: #002448;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videoButton {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
}

.titleContainer {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.leaveButton {
    color: white;
    height: 100%;
    background-color: #FF6565;
    border: none;
    border-radius: 5px;
}

.leaveButton:focus {
    outline: none;
    border: 0.5px rgb(255, 111, 147) solid;
    box-shadow:  0px 0px 1px 2px #ffa2a2, 0px 0px 0.5px 0px rgb(233, 42, 90);
}